*.org#
*.org~
.#*
*~
*#
*/command/
*/lib/
*/config/
账号密码.org
公司.org
weixin.org
caijin.org
* problem
*.pdf
agenda/
*.epub
*.jpg
*.png
*.azw3
*.mobi
.dir-locals.el
hualai.org
mime.org
qaq.org
temp.org
生活.org
经济.org
!sql.pdf
/hualan.org
/sql
/xiangmu
money.org