*.org#
*.org~
.#*
*~
*#
*.pdf
*.epub
*.jpg
*.png
*.azw3
*.mobi
*.html
*.mhtml
*.el
*.org_archive
*.gradle
*.snip
*.groovy
*.tex
*.txt
*.temp
*.h
*.js
/webpage
/agenda/*
/.ac-php-conf.json
/important.org
/TODOs.org
/business
/video
/auto
/mind
temp.org
test.org
!/agenda/notes.md
/log.org
/self/*.org
/life/人.org
/self/我的妈妈.md
/life/book.org
/html.json
/html.org
/project/
/post/为何写技术博客.md
/soft/script/
/book/
