*.org#
*.org~
.#*
*~
*#
*.pdf
*.epub
*.jpg
*.png
*.azw3
*.mobi
*.html
*.mhtml
*.el
*.org_archive
*.gradle
*.snip
*.groovy
*.tex
*.txt
*.temp
*.h
*.js
/webpage
/agenda/*
/.ac-php-conf.json
/important.org
/TODOs.org
/business
/life/*
/video
/auto
/mind
temp.org
test.org
!/agenda/notes.md
!/life/珍珠散落.org
!/life/电影.org
/log.org
