body{background:#75AA8C;width:100%;height:100%;}
li{list-style-type:none;}
a{text-decoration:none;}

.main{width:1000px;margin:20px auto;background-color:#2D7B49;}
.left u{width:170px;}
.left li{height:40px;width:150px;margin-bottom:40px;line-height:40px;text-align:center;display:inline-block;text-align:justify;}
.left a{font-weight:bold;color:#fff; width:150px;}
.left a:hover{background-color:#95BDA3;}
